{% extends 'base.html' %}

{% block sidebar %}
<form method="get" action="{% url 'index' %}">
    {{ form }}
    <input class="btn btn-primary" type="submit" name="Filter results">
    <a href="{% url 'index' %}?reset=true" class="btn btn-secondary">Reset filters</a>
</form>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <th> <a href="{% url 'index' %}?sort=name">Name</a>
        <th>Description
        <th><a href="{% url 'index' %}?sort=age">Age</a>
        <th><a href="{% url 'index' %}?sort=price">Price</a>
          <th>Image
    </thead>
    <tbody>
{% for p in products %}
    <tr>
        <td><a href="{% url 'show' p.id %}">{{ p.name }}</a>
        <td>{{ p.description|truncatewords:5 }}
        <td class="right">{{ p.age_range }}
        <td class="right">{{ p.price|floatformat:2 }}
          <td class='foto'>
            {% with img=p.random_image %}
            {% if img is None %}
              No image 
            {% else %}
            
            {% if img.image.width > img.image.height %}
            <img src="{{ img.image.url }} " alt='{{img.caption}}' width='100'>
            {% else %}
            <img src="{{ img.image.url }} " alt='{{img.caption}}' height='100'>
            {% endif %}
            {% endif %}
            {% endwith %}
            
{% endfor %}
    </tbody>
</table>
{% endblock %}

