{% extends "base.html" %}

{% block content %}
<p class="lead">Details for {{product.name}}</p>
<dl>
    {% for img in product.productimage_set.all %}
    <img src="{{ img.image.url }} " alt='{{img.caption}}'>
    
    

    {% endfor %}
    <dt>Description</dt><dd>{{product.description}}</dd>
    <dt>Ages</dt><dd>{{product.age_range}}</dd>
    <dt>Price</dt><dd>{{product.price}}</dd>
</dl>
{% endblock %}

{% block footer %}
<br>
<div>
<a class="btn btn-primary" href="{% url 'index' %}">Back to all toys</a>
</div>
{% endblock %}
